

  /* [NOTE]: Maybe put the margin in the main ctag and not in the 
    whole html for example
    main
     /* margin: 0 auto; */

    /* media query pour rendre tout responsive */
     @media  (min-width: 300px)  and (max-width: 844px) {
        
        body{
            max-width: 768px;
            margin: 0 auto;
        }
        .title{
            background-color: rgb(134, 35, 35);
            text-align: center;
        }
        
        .wrapper{
            display: grid;

        }
        .photo{
            width: 100%;
        }
        .work{
            
            background-color: rgb(206, 206, 206);
        }
        li{
            padding: 10px;
        }
        i{
            padding: 10px;
        }
        .pop{
            
            list-style: none;
        }
     }

@media (min-width: 821px) {
  


html {
    margin: 100px 100px 100px 100px;
    background-color: rgb(241, 241, 241)
}

body {
    margin: 0;
    background-color: rgba(214, 214, 214, 0.95);
    font-family: sans-serif;
}

.wrapper {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); 
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 1100px 1fr
}
.pop{
    padding:20px
}


.photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    padding: 20px;


}
h3{
    padding: 20px;

}

.nom {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
}

#recherche {
    margin-right: 12px;
    font-weight: bold;
    font-size: 20px;
    display:flex;
    justify-content: flex-start;
}

#desc {
    margin-left: 8px;
    font-weight: bold;
}

h2 {
    display: block;
    padding: 10px;
}


li {
    font-weight: bold;
    padding: 16px;
}

.title {
    grid-row: auto;
    background-color: rgb(134, 35, 35);
    display: block;
    color: rgb(193, 193, 193);
    padding-left: 24px;
}

.net {
    padding-top: 50px;
    display: block;
}

i {
    padding-top: 10px;
    padding-left: 30px;
    color: rgb(110, 119, 141);
}

#etude {
    padding-left: 8px;



}

h3 {
    padding-left: 8px;

}

.work {
    margin-left: 30px;
    width: 600px;
}

#exp {
    padding: 20px;
    font-size: 30px;
    margin-left: 0px;
    border-bottom: 1px solid black;
    width: 600px;
}



.insegnem {
    padding: 20px;
    font-size: 30px;
    margin-left: 0px;
    border-bottom: 1px solid black;
    width: 600px;
}
}